.AlertWrapper {
    position: fixed;
    z-index: 1;
    right: 0px;
    margin: 10px;
    bottom: 0;
    border-radius: 10px;
}

.AlertContent {
    width: 360px;
    height: 100px;
    background: rgba(156, 1, 1, 0.938);
    border-radius: 10px;
    color: white;

    & .content{
        padding: 10px;

        & .msg {
            font-size: 1em;
            font-weight: 600;
            text-align: center;
        }

        & .ButtonWrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            & button{
                border-radius: 5px;
            }
        }
    }
}