
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 15px;
    padding: 0.5em;
  }
  
  .item {
    /* Optional styling for grid items */
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  /* Media query for smaller screens */
@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    }
  }